<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
<!--                    <div class="card-header">Example Component</div>-->

<!--                    <div class="card-body">-->
<!--                        I'm an example component.-->
<!--                    </div>-->

<!--                    <p>{{subjectx}}</p>-->
<!--                    <p class="mystyle" v-for="user in users">{{user}}</p>-->
                    <p>{{clickCount}}</p>
                    <button class="btn btn-success" v-on:click="increseCount"> click</button>
                    <button class="btn btn-success" v-on:click="highestOrder" > Up </button>
                    <button class="btn btn-success" v-on:click="reset" >  Reset</button>
                    <button class="btn btn-success" v-on:click="" >  Reset</button>
                    <table >
                        <thead>
                        <tr>
                            <th>order no</th>
                            <th>Qty</th>
                            <th>Price</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="invoice in isOrdered?orderByPrice:invoiceDataset">
                            <td>{{invoice.invoice_number}}</td>
                            <td>{{invoice.qty}}</td>
                            <td>{{invoice.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.increseCount();
            console.log('Component mounted.')
        },
        data(){
            return{
                isOrdered:false,
                users:['user1','user2'],
                clickCount:0,
                invoiceDataset:{
                    a:{
                    invoice_number: "A123",
                    qty:67,
                    price:98.00},
                    b:{
                    invoice_number: "A123",
                    qty:6,
                    price:9.00},
                    c:{
                    invoice_number: "A123",
                    qty:7,
                    price:90.00},
                }
            }
        },
        props:{
            subjectx:null
        },
        computed:{
            orderByPrice:function (){
                return _.orderBy(this.invoiceDataset, 'price', 'asc')
            }
        },
        methods:{
            increseCount : function (event){
               this.clickCount++;
            },
            highestOrder:function (){
                this.isOrdered=true
            },
            reset:function (){
                this.isOrdered=false
            }
        }
    }
</script>
<style scoped lang="scss">
.mystyle{
    background-color: red;
}
table,tr,td{
    border: 1px solid black;
}
</style>
